<div class="has-text-centered">
  <h1 class="has-text-weight-bold	is-size-3">
    Welcome to FACEFit!
  </h1>
  <!-- <img width="300" src="../assets/pictures/70458057_777745222683511_710326786906390528_n.jpg"> -->
</div>

<div class="section">
  <article class="message is-dark">
    <div class="message-header">
      <!-- <p>Dark</p> -->
      <!-- <button class="delete" aria-label="delete"></button> -->
    </div>
    <div class="message-body">
      Welcome to the first online Gym. Ask trainers any fitness questions that you may have. And it is completely FREE! Or you can click 
      <a routerLink="/trainers">
        <span class="has-text-info is-size-5">
          Here
        </span>
      </a>
      to find a trainer and message them directly!
    </div>
  </article>
</div>

<app-question-form></app-question-form>