<div class="section">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img class="is-rounded image-height" src="../assets/pictures/kane.jpg" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">Kane Lee</p>
          <p class="subtitle is-6"><i class="fa fa-instagram fa-2x has-text-danger"></i> <i class="fa fa-twitter fa-2x has-text-danger"></i> @_kanelee</p>
        </div>
      </div>

      <div class="content">
        <span>
          Mr. Florida 2019. Certified Fitness Nutrition Specialist/Certified Personal Trainer
        </span>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        <br>
        <div class="button-container">
          <button class="button is-info is-rounded">Contact Kane</button>
        </div>
      </div>
    </div>
  </div>
</div>